<!DOCTYPE html>
<html>
<head>
<style>
.center {
  margin: auto;
  width: 60%;
  border: 3px solid #73AD21;
  padding: 10px;
}
</style>
</head>
<body>
<div class="center">
	<input id="originalUrl" type="text" />

	<button onclick="getShortenedUrl()">Submit</button>
	<br>

	<label id="shortenedUrl"></label>
	<div id="shortenUrlResponse"></div>
	<script>
    function getShortenedUrl(){
    	var originalUrl = document.getElementById("originalUrl").value;
    	console.log("Print original URL"+originalUrl);
    	urlparams = {
                "url": originalUrl
            }

    }
    
    </script>
    
    </div>
</body>
</html>